<div class="container">
	<div class="form-group">
		<label for="id">Id</label>
		<input class="form-control" id="id" name="id" [(ngModel)]="cliente.id" type="number">
	</div>
	<div class="form-group">
		<label for="nombre">Nombre</label>
		<input class="form-control" id="nombre" name="nombre" [(ngModel)]="cliente.nombre">
	</div>
	<div class="form-group">
		<label for="apellido">Apellido</label>
		<input class="form-control" id="apellido" name="apellido" [(ngModel)]="cliente.apellido">
	</div>
	<button class="btn btn-success w-100" (click)="aceptar()">Aceptar</button>
</div>