<div class="card">
	<div class="card-header d-flex justify-content-between align-items-center">
		<h3>Asuntos</h3>
		<button class="btn btn-success"><i class="fa fa-plus" title="Asunto nuevo"></i></button>	
	</div>
	<div class="card-body">
		<asunto-item 
			*ngFor="let asunto of asuntos"
			[id]="asunto.id"
			[titulo]="asunto.titulo"
			[autor]="asunto.usuario.username"
			[cantidadMensajes]="asunto.mensajes.length"
			[fecha]="asunto.fecha"
			(ver)="doVer($event)"
		>
		</asunto-item>	
	</div>
</div>