<div class="container d-flex justify-content-center align-items-center h-100">
	<div class="card">
		<div class="card-header bg-success text-white">
			Login
			<div class="bg-danger" *ngIf="error">Usuario o contraseña invalidos</div>
		</div>
		<div class="card-body">
			<form #f="ngForm" (ngSubmit)="login(f.value)"> 
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" name="username" ngModel required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" ngModel required>
				</div>
				<button class="btn btn-success" [disabled]="!f.valid">Ingresar</button>
			</form>
		</div>
	</div>
</div>