<div class="card" *ngIf="mensajeAResponder.contenido.length > 0">
	<h4>Cita</h4>
	<p>{{mensajeAResponder.contenido}}</p>
</div>
<form #f="ngForm" (ngSubmit)="submit(f.value)" class="form">
	<div class="form-group" *ngIf="asuntoNuevo">
		<label for="titulo">Titulo</label>
		<input type="text" class="form-control" name="titulo" required ngModel> 
	</div>
	<div class="form-group">
		<label for="contenido">Mensaje</label>
		<textarea name="contenido" id="contenido" rows="10" class="form-control" required ngModel></textarea>
	</div>
	<button class="btn btn-success btn-sm" [disabled]="!f.valid">Enviar</button>
</form>