<header [usuario]="usuario"></header>
<div style="width : 100%; height : 56px;"></div>
<asuntos [asuntos]="asuntoList" (ver)="verAsunto($event)"></asuntos>

<!--mensaje [mensaje]="asuntoList[0].mensajes[0]" (responder)="responder()"></mensaje-->
<!--asunto-screen
	[asunto]="asuntoList[0]"
></asunto-screen-->
<!--mensaje-form 
	[mensajeAResponder]="asuntoList[0].mensajes[0]"
	[asuntoNuevo]="true"
	(enviar)="enviar($event)"
></mensaje-form-->
<div style="width : 100%; height : 40px;"></div>
<footer></footer>